<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/about.css" />
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">Floor Prevention Application</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#services">HOW TO USE</a></li>
                    <li><a href="#portfolio">TEMPLATE INFO</a></li>
                    <li><a href="#pricing">BASE ELEVATION AND HOUSE HEIGHT</a></li>
                    <li><a href="#contact">ABOUT THE TEAM</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>About The Flood Prevention Application</h1>
    </div>

    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>About the app</h2><br>
                <h4>The purpose of this application is to help users predict if his or her home is in a potential flooding area, and if it is, tell how high should one elevate their house above flood level (i.e, on stilts).</h4><br>
                <p>This is made possible by leveraging geographic technology, particularly ArcGIS. More information about their technology can be found here at <a href="http://www.arcgis.com/index.html">http://www.arcgis.com/index.html</a></p>

            </div>

        </div>
    </div>


    <!-- Container (Services Section) -->
    <div id="services" class="container-fluid text-center">
        <h2>How to Use</h2>
        <br>
        <div class="row slideanim">
            <div class="col-sm-4">
                <span><img src="https://i.imgur.com/3PWjUJx.png" class="img-thumbnail"></span>
                <h4>Landing Page</h4>
                <p>Here is the landing page, the first thing you should see when opening the web app. Though the map focuses on the Tampa Bay area initially, it should be you can look up lood data at any point in the world.</p>
            </div>
            <div class="col-sm-4">
                <span><img src="https://i.imgur.com/Pnhznpa.png" class="img-thumbnail"></span>
                <h4>Initial Search</h4>
                <p>Here is the initial search of a location and a popup displaying the address of the search item, if it exists at that point.</p>
            </div>
            <div class="col-sm-4">
                <spa>
                    <img src="https://i.imgur.com/sjYK4BQ.png" class="img-thumbnail"></span>
                    <h4Search Result</h4>
      <p>Afterwards is the result of the search presenting all of the surronding areas and flood region possibilites in the surrounding region of th address typed in.</p>
            </div>
        </div>
        <br><br>
        <div class="row slideanim">
            <div class="col-sm-4">
                <span><img src="https://i.imgur.com/HKrnhOc.png" class="img-thumbnail"></span>
                <h4>Additional Information</h4>
                <p>Not only will the possible areas of flooding appear, so will a legend that displays the meanings of the colors and patterns a region may be presented in. The popup will also show the coordinates of the location that was searched for.</p>
            </div>

        </div>
    </div>

    <!-- Container (Portfolio Section) -->
    <div id="portfolio" class="container-fluid text-center bg-grey">
        <h2>LEGEND INFO</h2><br>
        <h4>What all of the colors mean</h4>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="https://i.imgur.com/9DmEqHj.png" alt="legend" width="400" height="300">
                </div>
            </div>

        </div><br>


        <!-- Container (Pricing Section) -->
        <div id="pricing" class="container-fluid">
            <div class="text-center">
                <h2>BASE ELEVATION AND HOUSE HEIGHT</h2>
                <h4>Explaining the difference</h4>
            </div>

        </div>

        <!-- Container (Contact Section) -->
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">CONTACT US</h2>
            <div class="row">
                <div class="col-sm-5">
                    <p>If you have any questions, you can reach us here</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Tampa, FL</p>

                    <p><span class="glyphicon glyphicon-envelope"></span> floodpreventionapp@gmail.com</p>
                </div>
                <div class="col-sm-7 slideanim">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Image of location/map -->
        <img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">

        <footer class="container-fluid text-center">
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
        </footer>

        <script>
            $(document).ready(function () {
                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function () {

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });

                $(window).scroll(function () {
                    $(".slideanim").each(function () {
                        var pos = $(this).offset().top;

                        var winTop = $(window).scrollTop();
                        if (pos < winTop + 600) {
                            $(this).addClass("slide");
                        }
                    });
                });
            })
        </script>

</body>
</html>
