
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>About the Flood Prevention Application.</h1>
    <p>Use the menu above to find information about the Flood Prevention Application project, usage, tooling, and team.</p>
</div>

<div id="motivation" class="info-section">
    <div id="motivation-header" class="page-header">
        <h1>Motivation</h1>
    </div>
    <div id="motivation-content">
        <article>
            This project was created as an assignment for the University of South Florida Senior IT Project (CIS4935) during the Summer 2019 term. 
            This is a web application which provides users with specific flood data based on input of a location with the intention of informing the user of the Base Flood Elevation (BFE) and providing a recommendation for the minimum build elevation of a structure's first floor at this location. 
            The application makes use of flood data API and a Geographical Information System (GIS) to find and present flood data and layers within a navigational map interface.
            This is an open source application. While there are applications that offer similar functionality, this software intends to extend and marry the functionality of multiple sources, and offer feedback not present in other tools.
        </article>
    </div>
</div>

<div id="scope" class="info-section">
    <div id="scope-header" class="page-header">
        <h1>Scope</h1>
    </div>
    <div id="scope-content">
        <article>
            The application is intended to be used as a reference by those who wish to evaluate their preparedness under a variety of flood conditions. 
            The data provided may then be used to better understand the risks associated with a particular location as well as inform potential steps that may be taken to reduce risk. 
            Providing a clearer understanding of flooding scenarios, their risks, and mitigations has both public safety, as well as insurance implications.
            The application will also provide useful information about flooding in the Tampa Bay area (and beyond) to individuals who wish to understand, in greater detail, the pattern of flooding and how it affects the region as a whole. 
            This could be advantageous not only to consumers of flood insurance, but also to underwriters, appraisers, and other professionals who maintain structures at flood sites and assess the risk of floods to geographic locations.
        </article>
    </div>
</div>

<div id="dotnetcore" class="info-section">
    <div id="dotnetcore-header" class="page-header">
        <h1>ASP .Net Core Platform</h1>
    </div>
    <div id="dotnetcore-content">
        <article>
            ASP .Net Core Platform: This web application is built on the ASP .Net Core web application platform. 
            For development the application requires a development environment that is able to run ASP .Net Core web applications. 
            The application follows the MVC (Model, View, Controller) application programming paradigm. 
            The application makes use of JavaScript, JQuery, Bootstrap, and other client-side technologies
        </article>
    </div>
</div>

<div id="arcgis" class="info-section">
    <div id="arcgis-header" class="page-header">
        <h1>ArcGIS</h1>
    </div>
    <div id="arcgis-content">
        <article>
            ArcGIS: ArcGIS is a maps plugin for the web application.
            ArcGIS provides a map with search functionality that allows a user to click the map and ascertain the location and details about that location.
            ArcGIS also provides a layering tool to developers to allow development of custom layers for the map based on input data. This application makes use of the JavaScript API for ArcGIS, and any breaking changes to the API may cause issues in development.
        </article>
    </div>
</div>

<div id="nationalflooddata" class="info-section">
    <div id="nationalflooddata-header" class="page-header">
        <h1>National Flood Data API</h1>
    </div>
    <div id="nationalflooddata-content">
        <article>
            National Flood Data API: The National Flood Data API is used by this application.
            The application queries against this API to get data for specific locations and the Tampa Bay region as a whole.
            The license key for this application expires after the due date of this project at the end of July 2019.
            Any developer trying to use the application after that time will not be able to get data without further contacting National Flood Data regarding the API key.
        </article>
    </div>
</div>

<div id="github" class="info-section">
    <div id="github-header" class="page-header">
        <h1>GitHub</h1>
    </div>
    <div id="github-content">
        <article>
            Placeholder for GitHub content. 
        </article>
    </div>
</div>

<div id="azure" class="info-section">
    <div id="azure-header" class="page-header">
        <h1>Azure</h1>
    </div>
    <div id="azure-content">
        <article>
            Placeholder for Azure content.
        </article>
    </div>
</div>

