<div id="arcgis" class="info-section">
    <div id="arcgis-header" class="page-header">
        <h1>ArcGIS</h1>
    </div>
    <div id="arcgis-content">
        <article>
            ArcGIS: ArcGIS is a maps plugin for the web application.
            ArcGIS provides a map with search functionality that allows a user to click the map and ascertain the location and details about that location.
            ArcGIS also provides a layering tool to developers to allow development of custom layers for the map based on input data. This application makes use of the JavaScript API for ArcGIS, and any breaking changes to the API may cause issues in development.
        </article>
    </div>
</div>