<div id="arcgis" class="info-section">
    <div id="arcgis-header" class="page-header">
        <h1><span class="glyphicon glyphicon-globe"></span> ArcGIS</h1>
    </div>
    <div id="arcgis-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/mP6Jsio.png" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>ArcGIS: ArcGIS is a maps plugin for the web application.</p>
                        <p>ArcGIS provides a map with search functionality that allows a user to click the map and ascertain the location and details about that location.</p>
                        <p>ArcGIS also provides a layering tool to developers to allow development of custom layers for the map based on input data.</p>
                        <p>This application makes use of the JavaScript API for ArcGIS, and any breaking changes to the API may cause issues in development.</p>
                        <p>Check out more about ArcGIS <a href="https://developers.arcgis.com/" target="_blank">here</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>