<div id="azure" class="info-section">
    <div id="azure-header" class="page-header">
        <h1>Azure</h1>
    </div>
    <div id="azure-content">
        <article>
            Placeholder for Azure content.
        </article>
    </div>
</div>