<div id="azure" class="info-section">
    <div id="azure-header" class="page-header">
        <h1><span class="glyphicon glyphicon-cloud"></span> Azure</h1>
    </div>
    <div id="azure-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/CDKQiAL.png" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>The flood project is hosted in Microsoft Azure.</p>
                        <p>The type of hosting provided by Azure for this project is an App Service.</p>
                        <p>The App Service allows for easy publishing from Microsoft Visual Studio.</p>
                        <p>Check out more about Azure <a href="https://azure.microsoft.com/en-us/" target="_blank">here.</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>