<div id="basefloodelevation" class="info-section">
    <div id="basefloodelevation-header" class="page-header">
        <h1><span class="glyphicon glyphicon-tint"></span> Base Flood Elevation</h1>
    </div>
    <div id="basefloodelevation-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/41Nm7sV.jpg" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>Base Flood Elevation is an elevation in a flood zone that requires insurance at which a structure's elevation can affect insurance premiums.</p>
                        <p>FEMA defines this as the computed elevation to which floodwater is anticipated to rise during the base flood.</p>
                        <p>Base Flood Elevations (BFEs) are shown on Flood Insurance Rate Maps (FIRMs) and on the flood profiles.</p>
                        <p>The BFE is the regulatory requirement for the elevation or floodproofing of structures.</p>
                        <p>The relationship between the BFE and a structure's elevation determines the flood insurance premium.</p>
                        <p>Check out more about Base Flood Elevation from FEMA <a href="https://www.fema.gov/base-flood-elevation" target="_blank">here.</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>