<div id="basefloodelevation" class="info-section">
    <div id="basefloodelevation-header" class="page-header">
        <h1>Base Flood Elevation</h1>
    </div>
    <div id="basefloodelevation-content">
        <article>
            Placeholder for Base Flood Elevation content.
        </article>
    </div>
</div>