<div id="dotnetcore" class="info-section">
    <div id="dotnetcore-header" class="page-header">
        <h1>ASP .Net Core Platform</h1>
    </div>
    <div id="dotnetcore-content">
        <article>
            ASP .Net Core Platform: This web application is built on the ASP .Net Core web application platform.
            For development the application requires a development environment that is able to run ASP .Net Core web applications.
            The application follows the MVC (Model, View, Controller) application programming paradigm.
            The application makes use of JavaScript, JQuery, Bootstrap, and other client-side technologies
        </article>
    </div>
</div>