<div id="findinglocations" class="info-section">
    <div id="findinglocations-header" class="page-header">
        <h1><span class="glyphicon glyphicon-search"></span> Finding Locations</h1>
    </div>
    <div id="findinglocations-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/JuLAnSk.jpg" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>The user can find more information about a specific location on the map in a few ways.</p>
                        <p>The search function in the top-righthand corner of the map allows the user to search for a specific location.</p>
                        <p>The search bar also has a feature for finding the users current location.</p>
                        <p>Without searching, the user is able to click on the map to find more details out about a specific location.</p>
                        <p>After finding a specific location, a popup will appear with flood and location information for the selected location.</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>