<div id="generalusage" class="info-section">
    <div id="generalusage-header" class="page-header">
        <h1>General Usage</h1>
    </div>
    <div id="generalusage-content">
        <article>
            Placeholder for General Usage content.
        </article>
    </div>
</div>