<div id="generalusage" class="info-section">
    <div id="generalusage-header" class="page-header">
        <h1><span class="glyphicon glyphicon-user"></span> General Usage</h1>
    </div>
    <div id="generalusage-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/LyG19Ok.jpg" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>The Flood Project provides the user with a map upon visiting the landing page.</p>
                        <p>The map provides visual information to the user about a region, and flood specific information for areas in that region.</p>
                        <p>The legend featured on the map explains what the visual cues on the map mean.</p>
                        <p>The page provides a search feature, that when used will navigate to that location on the map and provide additional details about the specific location.</p>
                        <p>The user may also click on the map to reveal more information about the specific location that they clicked on.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>