<div id="github" class="info-section">
    <div id="github-header" class="page-header">
        <h1>GitHub</h1>
    </div>
    <div id="github-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://ahadavand.com/wp-content/uploads/2016/12/GitHub-Logo-01.png" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>Github is a Web-based graphical interface for a cental-repository version control system.</p> 
                        <p>This allows copies of a main project to be pulled down and worked on locally to an individual's system, with any revisions made locally being merged to a central location and any undesired changes may be easily rolled back to a prior state.</p>
                        <p>Github is able to be integrated with many Integrated Development Environments (IDEs), in particular Visual Studio for this project. More can be read about GitHub here:</p>
                        <p><a href="https://help.github.com/en/articles/git-and-github-learning-resources">Git and GitHub learning resources</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>