
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>About the Flood Prevention Application.</h1>
    <p>Use the menu above to find information about the Flood Prevention Application project, usage, tooling, and team.</p>
</div>

<partial name="~/Views/Info/Motivation.cshtml" />

<partial name="~/Views/Info/Scope.cshtml" />

<partial name="~/Views/Info/DotNetCore.cshtml" />

<partial name="~/Views/Info/ArcGIS.cshtml" />

<partial name="~/Views/Info/NationalFloodData.cshtml" />

<partial name="~/Views/Info/GitHub.cshtml" />

<partial name="~/Views/Info/Azure.cshtml" />

<partial name="~/Views/Info/GeneralUse.cshtml" />

<partial name="~/Views/Info/TheMap.cshtml" />

<partial name="~/Views/Info/FindingLocations.cshtml" />

<partial name="~/Views/Info/PopupInformation.cshtml" />

<partial name="~/Views/Info/Legend.cshtml" />

<partial name="~/Views/Info/BaseFloodElevation.cshtml" />

<partial name="~/Views/Info/Insurance.cshtml" />

<partial name="~/Views/Info/StiltHeights.cshtml" />

<partial name="~/Views/Info/Team.cshtml" />

<partial name="~/Views/Info/Contact.cshtml" />
