<div id="insurance" class="info-section">
    <div id="insurance-header" class="page-header">
        <h1><span class="glyphicon glyphicon-home"></span> Insurance Requirement</h1>
    </div>
    <div id="insurance-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/TWCO1D8.jpg?1" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>The requirement to purchase flood insurance for homes is determined by flood zone.</p>
                        <p>Certain flood zones are called special flood hazard areas.</p>
                        <p>These areas require that homeowners purcahse flood insurance, unless their structure is above a base flood elevation.</p>
                        <p>This application makes use of the JavaScript API for ArcGIS, and any breaking changes to the API may cause issues in development.</p>
                        <p>To find out more about flood zones and required insurance, checkout FEMA <a href="https://www.fema.gov/flood-zones" target="_blank">here.</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>