<div id="legend" class="info-section">
    <div id="legend-header" class="page-header">
        <h1><span class="glyphicon glyphicon-picture"></span> Legend</h1>
    </div>
    <div id="legend-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/kc37yLC.png" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>The Legend provides users with information that explains the visual cues on the map.</p>
                        <p>The Legend is located in the bottom-lefthand corner of the map.</p>
                        <p>It tells the users what flood hazards are present, and where base flood elevations are.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>