<div id="legend" class="info-section">
    <div id="legend-header" class="page-header">
        <h1>Legend</h1>
    </div>
    <div id="legend-content">
        <article>
            Placeholder for Legend content.
        </article>
    </div>
</div>