<div id="motivation" class="info-section">
    <div id="motivation-header" class="page-header">
        <h1><span class="glyphicon glyphicon-heart"></span> Motivation</h1>
    </div>
    <div id="motivation-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/qDWtkhA.jpg" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>This project was created as an assignment for the University of South Florida Senior IT Project (CIS4935) during the Summer 2019 term.</p>
                        <p>This is a web application which provides users with specific flood data based on input of a location with the intention of informing the user of the Base Flood Elevation (BFE) and providing a recommendation for the minimum build elevation of a structure's first floor at this location.</p>
                        <p>The application makes use of flood data API and a Geographical Information System (GIS) to find and present flood data and layers within a navigational map interface.</p>
                        <p>This is an open source application. While there are applications that offer similar functionality, this software intends to extend and marry the functionality of multiple sources, and offer feedback not present in other tools.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>