<div id="nationalflooddata" class="info-section">
    <div id="nationalflooddata-header" class="page-header">
        <h1><span class="glyphicon glyphicon-cloud"></span> National Flood Data API</h1>
    </div>
    <div id="nationalflooddata-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/KB6DExI.jpg" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>National Flood Data API: The National Flood Data API is used by this application.</p>
                        <p>The application queries against this API to get data for specific locations and the Tampa Bay region as a whole.</p>
                        <p>The API delivers information from FEMA flood maps, the same way that ArcGIS layers do, but gives more rich information about specific locations.</p>
                        <p>The license key for this application expires after the due date of this project at the end of July 2019.</p>
                        <p>Any developer trying to use the application after that time will not be able to get data without further contacting National Flood Data regarding the API key.</p>
                        <p>Check out more about the National Flood Data API <a href="http://nationalflooddata.com/flood/floodapi/" target="_blank">here.</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>