<div id="popupinformation" class="info-section">
    <div id="popupinformation-header" class="page-header">
        <h1>Popup Information</h1>
    </div>
    <div id="popupinformation-content">
        <article>
            Placeholder for Popup Information content.
        </article>
    </div>
</div>