<div id="popupinformation" class="info-section">
    <div id="popupinformation-header" class="page-header">
        <h1><span class="glyphicon glyphicon-open-file"></span> Popup Information</h1>
    </div>
    <div id="popupinformation-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/HUyKpKh.png" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>The popup template provides the user with more information about the location they are examining.</p>
                        <p>The popup appears whenever a user clicks on or searches for a specific location.</p>
                        <p>The popup template provides additional flood information about that location.</p>
                        <p>It also shows the location's elevation and an image of that location.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>