<div id="stiltheights" class="info-section">
    <div id="stiltheights-header" class="page-header">
        <h1>House Stilt Height</h1>
    </div>
    <div id="stiltheights-content">
        <article>
            Placeholder for House Stilt Heights content.
        </article>
    </div>
</div>