<div id="stiltheights" class="info-section">
    <div id="stiltheights-header" class="page-header">
        <h1><span class="glyphicon glyphicon-arrow-up"></span> House Stilt Height</h1>
    </div>
    <div id="stiltheights-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/qwdgf5P.jpg?1" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>If you would like to avoid high flood insurance premiums you can use house stilts.</p>
                        <p>One of the most common retrofitting methods is elevating a house to a required or desired Flood Protection Elevation (FPE).</p>
                        <p>When a house is properly elevated, the living area will be above all but the most severe floods (such as the 500-year flood).</p>
                        <p>If your FPE is equal to the Base Flood Elevation (BFE), you will need to elevate your house so that the lowest floor is at or above that elevation.</p>
                        <p>Check out more information about house stilts from FEMA <a href="https://www.fema.gov/pdf/rebuild/mat/sec5.pdf" target="_blank">here.</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>