<div id="team" class="info-section">
    <div id="team-header" class="page-header">
        <h1>Team Members</h1>
    </div>
    <div id="team-content">
        <article>
            Placeholder for Team Members content.
        </article>
    </div>
</div>