<div id="team" class="info-section">
    <div id="team-header" class="page-header">
        <h1><span class="glyphicon glyphicon-text-height"></span> Team Members</h1>
    </div>
    <div id="team-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/tn9QfAr.jpg" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <ul>
                            <li>Matthew Condor</li>
                            <li>Michael Joseph</li>
                            <li>Michael Lee</li>
                            <li>Hassan Baraka</li>
                            <li>Sean King</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>