<div id="themap" class="info-section">
    <div id="themap-header" class="page-header">
        <h1><span class="glyphicon glyphicon-tree-deciduous"></span> The Map</h1>
    </div>
    <div id="themap-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://i.imgur.com/mz5PgBr.jpg" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <article>
                        <p>The map is what the user sees when they navigate to the website.</p>
                        <p>The map is built with FEMA layers from ArcGIS.</p>
                        <p>The ArcGIS lays provide visual cues that the user can use to interpret flood information for a specific region.</p>
                        <p>Concepts like flood zone and base flood elevation are what the map layers communicate.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>